# Ignorar archivos de logs
*.log

# Ignorar archivos auxiliares
*.aux

# Ignorar archivos comprimidos
*.gz

# Ignorar archivos PDF
*.pdf

# Ignorar resto de archivos
*.toc
*.lof
*.lot
*.bbl
*.blg
*.bst
*.fdb_latexmk
*.out
*.fls


